* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
    padding: 1em;
    transform: translateY(-75px);
}

body {
    font-family: 'Vollkorn', serif;
}
/* typography */
h1 {
    font-family: 'Vollkorn', serif;
    font-size: 3em;
    color: #442522;
    opacity: 0;
}


/* header */

.sun {
    position: relative;
    width: 200px;
    height: 200px;
}

.sun-circle {
    border-radius: 50%;
    position: absolute;
}

.sun-outer-circle {
    border: solid 0.75em #D98723;
    background-color: #F2B705;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
}

.sun-outer-middle-circle {
    background-color: #D98723;
    width: 150px;
    height: 150px;
    left: 25px;
    top: 25px;
}

.sun-inner-middle-circle {
    background-color: #F2B705;
    width: 100px;
    height: 100px;
    left: 50px;
    top: 50px;
}

.sun-inner-circle {
    border: solid 1em #D98723;
    width: 50px;
    height: 50px;
    left: 75px;
    top: 75px;
    box-sizing: border-box;
}



.title-wrapper {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.cloud-container {
    /* background-color: blue;
    border-radius: 50%;*/
    width: 75%;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.letters-guessed {
    position: absolute;
    /* top: -75px;
    height: 250px; */
    top: -200px;
    width: 275px;
    height: 275px;
    /* width: 50%; */
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.alphabet-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px 5px;
    align-items: center;
}

.letter-div {
    /* border: solid .2em #F0F0F0; */
    /* background-color: #F0F0F0; */
    /* border-radius: 50%; */
    padding: 0.75em 0.25em;
    /* display: flex;
    align-items: center;
    justify-content: center;; */
}

.letter-placeholder {
    opacity: 0;
}

.cloud-circle {
    background-color: #F0F0F0;
    border: solid 0.5em #E8E8E8;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    /* box-shadow: 10px 5px#E8E8E8; */
}

.cloud-circle-1 {
    width: 150px;
    height: 150px;
    top: -15%;
    left: 0%;
}

.cloud-circle-2 {
    width: 100px;
    height: 100px;
    top: -50%;
    left: 28%;
}

.cloud-circle-3 {
    width: 125px;
    height: 125px;
    top: -35%;
    left: 48%;
}

.cloud-circle-4 {
    width: 100px;
    height: 100px;
    top: 35%;
    left: 48%;
}

.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    padding: 3em;

}

.play-btn {
    width: 300px;
    height: auto;
    background-color: #442522;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding: .7em;
    border: none;
    border-radius: 20px;
    font-family: 'Vollkorn', serif;
    font-size: 2em;
    box-shadow: 10px 10px 20px 2px gray;

}

.display-game {
    position: relative;
}

.middle-container {
    width: 100%;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.word-container {
    width: 100%;
    margin: 0 auto; 
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 2em;
}

.flower-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(42px, 1fr));
    /* grid-template-rows:  */
    /* grid-template-columns: 50px 50px 50px 50px 50px 50px; */
    column-gap: 5px;
}

.flower {
    width: 42px;
    margin: 0 auto;

}

.flower-stem {
    width: 10px;
    height: 40px;
    background-color: #37402A;
    outline: none;
    border: none;
    margin: 0 auto;
}

.bottom-container {
    /* background-color: rgb(21, 51, 55); */
    display: flex;
    align-items: center;
    background-color: #4B533F;
    border: 1.5em solid #37402A;
    width: 100%;
    height: 200px;
    position: relative;
    /* margin-top: 2em; */
    /* padding: 4em 4em; */
}

.ground-container {
    display: flex;
    align-items: center;
    background-color: #37402A;
    border: 1.5em solid #4B533F;
    width: 100%;
    height: 150px;
    margin: 0 auto;

}

.guess-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    /* padding: 1em; */
    /* background-color: white; */
    background-color: #4B533F;
    text-align: center;
}

.guess-content {
    font-size: 2rem;
    letter-spacing: 2px;
    color:white;
    margin-right: .8em;
}

input[type="text"] {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    text-align: center;
}

.submit-btn {
    margin-left: 2em;
    width: 70px;
    height: 30px;
    font-size: 1em;
}



@media only screen and (min-width: 600px) {
    .top-container {
        flex-direction: row;
    }
    
    .title-wrapper {
        width: 50%;
    }

    .word-container {
        font-size: 3em;
        letter-spacing: 5px;
    }

    .flower {
        width: 80px;
    }

    .flower-stem {
        width: 10px;
    }

}


@media only screen and (min-width: 1000px) {

    .cloud-circle-1 {
        top: -45%;
        left: 8%;
    }
    
    .cloud-circle-2 {
        top: -60%;
        left: 28%;
    }
    
    .cloud-circle-3 {
        top: -50%;
        left: 58%;
    }

    .flower-grid {
        width: 80%;
        margin:0 auto;
    }

}